@charset "utf-8";



.popup_title{width: 100%; float: left; position: relative; color: #666; font-size: 18px; margin-bottom: 30px; margin-top: 30px}
.popup_title .line{width: 100%; float: left; height: 15px; border-bottom: 1px solid #ccc}
.popup_title .title_box{float: left; background-color: #fff; padding-right: 10px;  color: #333;  font-size: 16px; font-weight: 500; line-height: 20px ; position: absolute; left: 0px; top: 0px;font-family: 'Noto Sans KR', sans-serif;  }
.popup_title .title_box i{font-size: 20px; line-height: 20px; float: left ; margin-right: 10px}

.popup_tb{width: 100%; float: left;}


.popup_head_box{ width: 100%; float: left;  
    padding             :0px 15PX; 
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#436edc+1,304583+100 */
background: rgb(67,110,220); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(67,110,220,1) 1%, rgba(48,69,131,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(67,110,220,1) 1%,rgba(48,69,131,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(67,110,220,1) 1%,rgba(48,69,131,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#436edc', endColorstr='#304583',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/* IE6-9 */box-sizing: border-box;color: #FFF!important; font-size: 18px; font-weight: 400!important;   line-height: 50px; font-family: 'Noto Sans KR', sans-serif; position: relative }

.popup_head_box .close{ position: absolute; top: 0px; right: 10px; }


.popup_head .fl_title{ width: 50%; float: left; color: #fff; font-size: 20px; font-weight: 700; }

.popup_head .fr_img{  float: right; }
.popup_body { width: 100%; float: left; box-sizing: border-box; padding:20px  20px }



.popup_box{ width: 100%;  float: left; padding: 30px; box-sizing: border-box }
