@charset "utf-8";
/**** 리스트 테이블 css (공통)  ****/
.tb_outbox{width:100%;  border-top:3px solid #273949; float:left; position: relative}
.tb_list { width:100%;  border-collapse: collapse;  }
.tb_list thead th{border-bottom:1px solid #999; color:#000 !important;border-right: 1px solid #ccc; font-size:14px;  text-align:center; background-color:#EAECF0 ;   box-sizing:border-box ; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; padding: 7px 0px;}
.tb_list tbody th{
 border-bottom:1px solid #ccc; padding:5px 15px;
text-align:center;font-weight:normal; color:#000; background-color:#eff0f4; font-size:14px;  border-right: 1px solid #ccc }
.tb_list thead th input{line-height: 14px!important;  margin-top: 5px; }
.tb_list thead th:last-child{border-right:none;  }

.tb_list tbody th{
 border-bottom:1px solid #ccc; padding:5px 15px;
text-align:center;font-weight:normal; color:#000; background-color:#eff0f4; font-size:14px;  border-right: 1px solid #ccc }


.tb_list tbody td {padding: 7px 0px;  border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; text-align:center;background-color: #fff;  border-right: 1px solid #ccc; box-sizing: border-box;  line-height: 16px}
.tb_list tbody td input{  line-height: 14px; margin-top: 4px; }
.tb_list tbody td:first-child{padding: 7px 0px;   border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; background-color: #fff; text-align: center; border-left:none; }
.tb_list tbody td:last-child{padding: 7px 0px;   border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; background-color: #fff; text-align: center; border-right:none;  }
.tb_list tbody tr.total td{color: #4667ba}

.tb_list tbody tr:nth-child(2n) td{  background-color: #f7f7f7!important }

.tb_list thead th.bg1{  background-color:#DFE2F0;  }
.tb_list thead th.bg2{  background-color:#F0DFE7;  }
.tb_list tbody tr td.bg1{  background-color:#DFE2F0!important;  }
.tb_list tbody tr td.bg2{  background-color:#F0DFE7!important;   }

.tb_list_main { width:100%;  border-collapse: collapse;  }
.tb_list_main thead th{border-bottom:1px solid #999; color:#000 !important; font-size:14px;  text-align:center;   box-sizing:border-box ; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; padding: 7px 0px;}
.tb_list_main tbody th{
 border-bottom:1px solid #ccc; padding:5px 15px;
text-align:center;font-weight:normal; color:#000; font-size:14px;  }
.tb_list_main thead th input{line-height: 14px!important;  margin-top: 5px; }
.tb_list_main thead th:last-child{border-right:none;  }


.tb_list_main tbody td {padding: 7px 0px;  border-bottom:1px solid #ccc; COLOR:#666666; font-size:12px; text-align:center;background-color: #fff;  box-sizing: border-box;  line-height: 16px}
.tb_list_main tbody td .tdbtnbox{width: 100%;   display: flex;
  justify-content: center;
  align-items: center;}

.tb_list_main tbody td .tdbtnbox .st_ing1{padding: 3px 10px; border-radius: 4px; background-color:#225CCB; color: #fff}
.tb_list_main tbody td .tdbtnbox .st_ing2{padding: 3px 10px; border-radius: 4px; background-color:#AE0000; color: #fff}

.tb_list_main tbody tr:nth-child(2n) td{  background-color: #f7f7f7!important }


.tb_list2 { width:100%;  border-collapse: collapse; }
.tb_list2 thead th{ color:#000 !important;border-right: 1px solid #ccc; font-size:14px;  text-align:center; background-color:#EAECF0 ;   font-family: 'Noto Sans KR', sans-serif; font-weight: 400; padding: 7px 0px; box-sizing: border-box; line-height: 16px;  border-bottom: none; border-bottom:1px solid #ccc; }
.tb_list2 thead th:last-child{border-right:none;  }

.tb_list2 tbody th{
 border-bottom:1px solid #ccc; padding:5px 15px;
text-align:center;font-weight:normal; color:#000; background-color:#eff0f4; font-size:14px; line-height: 16px;  border-right: 1px solid #ccc }
.tb_list2 tbody td {padding:0px 5px;  border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; text-align:center;background-color: #fff;  border-right: 1px solid #ccc;  line-height: 22px; }

.tb_list2 tbody td input{line-height: 22px;  margin-top: 6px}


.tb_list2 tbody td:last-child{padding: 5px 0px;   border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; background-color: #fff; text-align: center; border-right: none; }
.tb_list2 tbody tr.total td{color: #4667ba}

.tb_list2 tbody tr:nth-child(2n) td{  background-color: #f7f7f7!important }





/****  ****/
.tb_list3 { width:100%;  border-collapse: collapse;  }
.tb_list3 thead th{border-bottom:1px solid #999; color:#000 !important;border-right: 1px solid #ccc; font-size:14px;  text-align:center; background-color:#EAECF0 ;   box-sizing:border-box ; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; padding: 7px 0px;}
.tb_list3 tbody th{
 border-bottom:1px solid #ccc; padding:7px 10px;
text-align:center;font-weight:normal; color:#000; background-color:#eff0f4; font-size:14px;  border-right: 1px solid #ccc }
.tb_list3 thead th input{line-height: 14px!important;  margin-top: 5px; }
.tb_list3 thead th:last-child{border-right:none;  }

.tb_list3 tbody th{
 border-bottom:1px solid #ccc; padding:7px 10px;
text-align:center;font-weight:normal; color:#000; background-color:#eff0f4; font-size:14px;  border-right: 1px solid #ccc }


.tb_list3 tbody td { padding:7px 10px;  border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; text-align:center;background-color: #fff;  border-right: 1px solid #ccc; box-sizing: border-box;  line-height: 16px}
.tb_list3 tbody td input{  line-height: 14px;  }
.tb_list3 tbody td:first-child{ padding:7px 10px;   border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; background-color: #fff; text-align: center; border-left:none; }
.tb_list3 tbody td:last-child{ padding:7px 10px;   border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; background-color: #fff; text-align: center; border-right:none;  }
.tb_list3 tbody tr.total td{color: #4667ba}





.tb_write { width:100%;  border-collapse: collapse; }
.tb_write thead th{border-bottom:1px solid #999; color:#000 !important;border-right: 1px solid #ccc; font-size:14px;  text-align:center; background-color:#EAECF0 ;   box-sizing:border-box ; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; padding: 7px 0px}

.tb_write tbody th{
 border-bottom:1px solid #ccc; padding:10px 10px 10px 10px; line-height: 22px;
text-align:left;font-weight:normal; color:#000; border-left: 1px solid #ccc; font-size:14px; position: relative; background-color: #f7f7f7; font-family: 'Noto Sans KR', sans-serif; font-weight:500; }

.tb_write tbody th:first-child{border-left: none; }

.tb_write tbody td {padding:10px 10px;  border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; text-align:left;   box-sizing: border-box;  background-color: #f7f7f7;line-height: 22px; position: relative}
.tb_write tbody th em{ COLOR:#225CCB!important;position: absolute ;top: 18px; left: 13px;}


.tb_write tbody td:last-child{border-right: none}

.tb_write tbody tr.total td{color: #4667ba}


.tb_write_02 { width:100%;  border-collapse: collapse;  }
.tb_write_02 thead th{border-bottom:1px solid #999; color:#000 !important; font-size:14px;  text-align:center; background-color:#EAECF0 ;   box-sizing:border-box ; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; padding: 7px 0px}
.tb_write_02 thead th.t_center{text-align:center!important;}


.tb_write_02 tbody th{
 border-bottom:1px solid #ccc; padding:7px 15px; line-height: 22px;
text-align:left;font-weight:normal; color:#000; background-color:#eff0f4; font-size:14px;  border-right: 1px solid #ccc }

.tb_write_02 tbody td {padding:7px 10px;  border-bottom:1px solid #ccc; COLOR:#666666; font-size:14px; text-align:left;background-color: #fff;  border-right: 1px solid #ccc; box-sizing: border-box;  line-height: 22px}

.tb_write_02 tbody td:last-child{border-right: none}
.tb_write_02 tbody th:last-child{border-right: none}
.tb_write_02 tbody td.t_center{text-align:center;}
.tb_write_02 tbody th.t_center{text-align:center;}





.tb_write_03 { width:100%;  border-collapse: collapse; }
.tb_write_03 thead th{border-bottom:1px solid #999; color:#000 !important;border-right: 1px solid #ccc; font-size:14px;  text-align:center; background-color:#EAECF0 ;   box-sizing:border-box ; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; padding: 5px 0px}

.tb_write_03 tbody th{
 border-bottom:1px solid #ccc; padding:5px 10px 5px 25px; line-height: 40px;
text-align:left;font-weight:normal; color:#000; border-left: 1px solid #ccc; font-size:14px; position: relative; background-color: #fff; font-family: 'Noto Sans KR', sans-serif; font-weight:500; }

.tb_write_03 tbody th:first-child{border-left: none; }

.tb_write_03 tbody td {padding:5px 10px;  border-bottom:1px solid #ccc; COLOR:#333; font-size:14px; text-align:left;   box-sizing: border-box;  background-color: #fff;line-height: 40px; position: relative}
.tb_write_03 tbody th em{ COLOR:#225CCB!important;position: absolute ;top: 7px; left: 13px;}


.tb_write_03 tbody td:last-child{border-right: none}

.tb_write_03 tbody tr.total td{color: #4667ba}


/****페이징 ****/

.pagebox{ width: 100%; float: left; display:flex;  flex-direction:row; justify-content: center;  margin:20px 0px 10px; display:flex;  flex-direction:row; justify-content: center; }
.pagebox .ar{ margin: 0px 0px; line-height: 18px; padding: 0px 0px; width: 25px ;border: 1px solid #ccc; margin-right: -1px; ; text-align: center; color: #333;   display: flex;
  justify-content: center;
  align-items: center; cursor: pointer;  background-color: #fff; }
.pagebox .ar1{ margin: 0px 0px; line-height: 18x; padding: 0px 0px; width: 25px ;border: 1px solid #ccc; margin-right: -1px; ; text-align: center; color: #333;  display: flex;
  justify-content: center;
  align-items: center; cursor: pointer; background-color: #fff; }
.pagebox .ar:hover{ margin: 0px 0px; line-height: 18px; padding: 0px 0px;  width: 25px;border: 1px solid #333; margin-right: -1px; ; text-align: center; z-index: 9px; position: relative; background-color: #f7f7f7; cursor: pointer}
.pagebox .ar1:hover{ margin: 0px 0px; line-height: 18px; padding: 0px 0px;  width: 25px ;border: 1px solid  #333;  margin-right: -1px; ; text-align: center; z-index: 9px; position: relative; background-color: #fff; cursor: pointer}

.pagebox .um{ float: left; line-height:18px;  font-size: 13px; padding: 3px 0px; width: 25px ;border: 1px solid #ccc; margin-right: -1px; text-align: center; ; color: #333;  background-color: #fff; cursor: pointer}

.pagebox .um:hover{ float: left;  line-height:18px; font-size: 13px; padding: 3px 0px; width: 25px ;border: 1px solid  #333;  z-index: 9px; position: relative; margin-right: -1px; text-align: center; background-color: #eee; cursor: pointer}

.pagebox .um.on{ color: #5151a6!important; ; background-color: #f7f7f7 ;border: 1px solid  #333;z-index: 2; cursor: pointer}



.pagebox .ar i{ line-height: 18px; color: #999}
.pagebox .ar i.off{ line-height:18px; color: #ccc}

.pagebox .ar a i{ line-height: 18px; color: #333; }
.pagebox .ar a:hover i{ line-height: 18px; color: rgba(55,56,127,1.00)}

.pagebox .umbox { color: #ccc; margin: 0px 0px; background-color: #fff}
.pagebox .umbox a{ float: left; line-height:18px;  font-size: 13px; padding: 3px 0px; width: 25px ;border: 1px solid #ccc; margin-right: -1px; text-align: center; ; color: #333}
.pagebox .umbox a:hover{ float: left;  line-height:18px; font-size: 13px; padding: 3px 0px; width: 25px ;border: 1px solid  #333;  z-index: 9px; position: relative; margin-right: -1px; text-align: center; background-color: #f7f7f7}

.pagebox .umbox a.on{ color: #5151a6!important; ; background-color: #f7f7f7}

.pagebox_bbs{ width: 100%; float: left; }



.ui-resizable {
	position:relative;
}
.ui-resizable-handle {
	display:block;
	font-size:0.1px;
	position:absolute;
	z-index:99999;
}

.ui-resizable-s {
	background:#EEEEEE url(../images/grippie.png) no-repeat scroll center 2px;
	border-top:1px solid #CCCCCC;
	bottom:-5px;
	cursor:s-resize;
	height:14px;
	left:0;width:100%;
}

.tb_list tbody td a {
	color : #1198c5;
}

.tb_list2 tbody td a {
	color : #2366D6;
}

.tb_list2_2 tbody td input {
    margin-bottom: 6px;
}
